body {
    margin: 0px;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: grey;
}

#console {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

#console-ctn {
    position: absolute;
    width: 100%;
    height: 50% !important;
    bottom: 0px;
    margin: 0px;
}